body {
  font-family: 'Arial', sans-serif;
  background-image: url('assets/cookiebg.jpg');
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Fix the background so it stays in place while scrolling */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 380px;
  margin-bottom: 240px;
}
h2 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #d32f2f;
}

video {
  border: 2px solid #d32f2f; 
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: none;
}

canvas {
  display: none;
}

img {
  max-width: 100%;
  border: 2px solid #d32f2f; 
  border-radius: 8px;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: none;
}


button {
  background-color: #f44336;
  color: rgb(152, 27, 27);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c62828; 
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.countdown {
  font-size: 36px;
  color: #e60000; 
  font-weight: bold;
  margin-top: 20px;
}


.filters {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.filters button {
  background-color: #fff5f5; 
  border: 2px solid #e57373; 
  padding: 12px 18px;
  margin: 6px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #f8bbd0;
}


.zoom-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.zoom-controls button {
  background-color: #e53935;
  padding: 12px 24px;
  font-size: 16px;
  margin: 0 8px;
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s;
}

.zoom-controls button:hover {
  background-color: #d32f2f; 
}

.controls {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}


div {
  text-align: center;
  margin-top: 20px;
}

button {
  margin-top: 10px;
}


@media (max-width: 768px) {
  .controls {
      width: 100%;
  }

  h2 {
      font-size: 20px;
      padding: 10px;
  }

  video {
      width: 100%;
      height: auto;
      transform: none;
  }

  .filters button, .zoom-controls button {
      padding: 8px 16px;
      font-size: 14px;
      margin: 6px;
  }

  .countdown {
      font-size: 24px;
  }

 
}
