/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 200px;
  }
  
  h2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  video {
    border: 2px solid #2d2d2d;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: none;
  }
  
  canvas {
    display: none;
  }
  
  
  img {
    max-width: 100%;
    border: 2px solid #2d2d2d;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: none;
  }

  
  /* Button Styles */

  button {
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* Countdown Styles */
  .countdown {
    font-size: 36px;
    color: #e60000;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Filters Section */
  .filters {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .filters button {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    padding: 12px 18px;
    margin: 6px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .filters button:hover {
    background-color: #ddd;
  }
  
  .zoom-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .zoom-controls button {
    background-color: #28a745;
    padding: 12px 24px;
    font-size: 16px;
    margin: 0 8px;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s;
  }
  
  .zoom-controls button:hover {
    background-color: #218838;
  }
  
  .controls {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Align all content centrally */
  div {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Button section centered at the bottom */
  button {
    margin-top: 10px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .controls {
      width: 100%;
    }
  
    h2 {
      font-size: 20px;
      padding: 10px;
    }
  
    video {
      width: 100%;
      height: auto;
      transform: none;
    }
  
    .filters button, .zoom-controls button {
      padding: 8px 16px;
      font-size: 14px;
      margin: 6px;
    }
  
    .countdown {
      font-size: 24px;
    }
  }
  